@{
    ViewBag.Title = "Thank You";
}
<!DOCTYPE html>

<html>
<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <title>Thank You</title>
</head>
     <header>
        <div id="navbar">
        <div id="holder">
        <ul>
            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
            <li><a href="@Url.Action("Index", "About")">About Me</a></li>
            <li><a href="@Url.Action("Index", "Work")">My Work</a></li>
            <li><a href="@Url.Action("Index", "Contact")" id="onlink">Contact</a></li>
        </ul>  
            <h1>Drew Cook</h1> 
        </div>
        </div>
    </header>
<body>
    <div class="thankyou-content">
        <h2 align="center">Thank You!</h2>
        <p>Thank you very much for submitting your information!  Please feel free to navigate around and explore the page!</p>
    </div>
</body>
</html>
