@{
    ViewBag.Title = "Thank You";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thank You</title>
</head>
<body>
    <div class="thankyou-content">
        <h2 align="center">Thank You!</h2>
        <p>Thank you for submitting your information!  Please feel free to navigate around and explore the page!</p>
    </div>
</body>
</html>
