@{
    ViewBag.Title = "ThankYou";
}
<!DOCTYPE html>

<html>
<head>
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width" />
    <title>Thank You</title>
</head>
<body>
    <div class="thankyou-content">
        <h2 align="center">Thank You!</h2>
        <p>Thank you very much for submitting your information!  Please feel free to navigate around and explore the page!</p>
    </div>
</body>
</html>
