@{
    ViewBag.Title = "Thankyou";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thankyou</title>
</head>
<body>
    <div class="thankyou-content">
        <h2 align="center">Thank You!</h2>
        <p>Thank you for submitting your information.  Please continue to navigate around the page.</p>
    </div>
</body>
</html>
