@{
    ViewBag.Title = "Index";
}
<!doctype html>
<head>
    <title>About Me</title>
</head>
<body>

<div class="about-content">
<h2>About Me</h2>
<p class="pic">
    <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-xfp1/v/t1.0-9/10551001_10152497881141858_9051735595810608684_n.jpg?oh=2df1ff955da905db65458fff23b897f6&oe=54C6B7FC&__gda__=1421574553_13e1797f0f5dd3280531fde291998c74" alt="Photo" />
</p>
<p>I am originally from Baton Rouge, Louisiana and have enjoyed growing up in a city that has great food and heritage.  I went to Louisiana State University and studied both Landscape Architecture and Communications.  I moved to Denver, Colorado in April of 2014 and have been loving the city and the mountains ever since.</p>
<p>I am an avid musician of over twelve years and play a variety of instruments.  I initially started playing drums at a young age and went on to study jazz drumming in high school.  I have played the guitar for ten years and have studied many styles of playing including rock, blues, jazz, and fingerstyle. Recently, I've picked up learning the mandolin and have been studying the forms of bluegrass music.</p>
<p>When I have free time I like to get out to the mountains and go hiking and camping.  I also like to ride my road bike and try work out as much as possible and stay healthy.  I love to cook great meals and focus on eating healthy.  Every so often I will dive into a good novel as well.</p>
</div>
</body>
</html>
