@{
    ViewBag.Title = "GuessThatNumber";
}

<h2 align="center">GuessThatNumber</h2>
<div class="backlink"><a href="@Url.Action("Index", "Work")"><<< Back</a></div>

<div class="work-image" id="guessthatnumber">
    <div class="image active"><img src="../../Content/images/guessthatnumber.png" alt="Poker Player Text"  width="450" height="324"/></div>
    <div class="image hide"><img src="../../Content/images/guessthatnumberhighscore.png" alt="Poker Player Hand"  width="450" height="324"/></div>
    <div class="image hide"><img src="../../Content/images/guessthatnumberhighscoreresult.png" alt="Poker Player Hands"  width="450" height="324"/></div>
</div>

<h2 align="center">Desciption</h2>
<ul>
    <li>In this fun game, you will be asked to guess a number between 1 and 100.  You will be able to guess as many times as you like until guessing the number.</li>
    <li>After each guess, you will be told if you are guessing higher or lower than the actual number.  Once you guess the correct number, you can enter in your name into the high scores.  Try to make it to the top by having the lowest number of guesses!</li>
    <li>This is a very simply structured game that only uses one function to run the game.  A random number generator pulls a random number between 1 and 100, and a simple if/then statement determines if the guess is high or low. There are also a couple functions for adding in the high score to a database and displaying the high scores.</li>
</ul>
<p>Get to guessing and click the link below!</p>
<div class="download"><p><a href="~/Content/game%20links/GuessThatNumber.exe"></a>Download Here</a></p></div>