@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title>Work Page</title>
</head>
<body>
<div class="work-content">
<h2 align="center">Samples Of Work</h2>
<br />
<h3>Games</h3>
<div class="img" id="dragon">
<div class="image active">
    <img src="../../Content/images/dragoncombattext.png" alt="Dragon Combat Text" width="450" height="324"/>
</div>

<div class="image hide">
    <img src="../../Content/images/dragoncombatround.png" alt="Dragon Combat Round" width="450" height="324"/>
</div>

<div class="image hide">
    <img src="../../Content/images/dragoncombatattack.png" alt="Dragon Combat Attack" width="450" height="324"/>
</div>

<div class="image hide">
    <img src="../../Content/images/dragongameend.png" alt="Dragon Combat End" width="450" height="324"/>
</div>
<p>Dragon Combat 2.0</p>
</div>

<div class="img" id="trivia">
    <div class="image active"><img src="../../Content/images/triviagamehome.png" alt="Trivia Game Home"  width="450" height="324"/></div>
    <div class="image hide"><img src="../../Content/images/triviagamecorrect.png" alt="Trivia Game Correct"  width="450" height="324"/></div>
    <div class="image hide"><img src="../../Content/images/triviagameincorrect.png" alt="Trivia Game Incorrect"  width="450" height="324"/></div>
    <div class="image hide"><img src="../../Content/images/triviagameresults.png" alt="Trivia Game Results"  width="450" height="324"/></div>
    <p>Trivia Game</p>
</div>

<div class="img" id="pokerplayer">
    <div class="image active"><img src="" alt="Poker Player Text"  width="450" height="324"/></div>
    <div class="image hide"><img src="" alt="Poker Player Hand"  width="450" height="324"/></div>
    <div class="image hide"><img src="" alt="Poker Player Hands"  width="450" height="324"/></div>
<p>Poker Player</p>
</div>

<div class="img" id="battleship">
<img src="http://amazingpics.net/content/Abstract/Abstract%20Art%2029.jpg" alt="Abstract Photo 4" width="250" height="180"/>
<p>Guess That Number</p>
</div>
<h3>Music</h3>
<div class="img">
    <iframe width="250" height="180" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/156962621&amp;color=ffb400&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    <p>"Jerusalem Ridge"</p>
</div>

<div class="img">
   <iframe width="250" height="180" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/152506104&amp;color=ffb400&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    <p>"Lonesome Fiddle Blues"</p>
</div>
    
<div class="img">
   <iframe width="250" height="180" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/156762396&amp;color=ffb400&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
   <p>"Funky Jam"</p>
</div>


</div>
</body>

</html>