@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>

<html>
<head>
    <title>Work Page</title>
</head>
<body>
<div class="work-content">
<h2 align="center">Samples Of Work</h2>
<br />
<div class="img">
<img src="http://amazingpics.net/content/Abstract/Abstract%20Art%20172.jpg" alt="Abstract Photo 1" width="250" height="180"/>
<p>Work Sample 1</p>
</div>

<div class="img">
<img src="http://amazingpics.net/content/Abstract/Abstract%20Art%20155.jpg" alt="Abstract Photo 2" width="250" height="180"/>
<p>Work Sample 2</p>
</div>

<div class="img">
<img src="http://amazingpics.net/content/Abstract/Abstract%20Art%20119.jpg" alt="Abstract Photo 3" width="250" height="180"/>
<p>Work Sample 3</p>
</div>

<div class="img">
<img src="http://amazingpics.net/content/Abstract/Abstract%20Art%2029.jpg" alt="Abstract Photo 4" width="250" height="180"/>
<p>Work Sample 4</p>
</div>

</div>
</body>

</html>